.homePageContainers{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   }
   .homeTitles{
       font-size: 32px;
       margin-bottom: 20px;
       text-align: center;
   }
   .indexbtn{
       text-align: center;
   }

   .homePageContainer {
    text-align: center;
    display: flex;
    /* justify-content: center; */
    /* height: 100vh; */
    margin: 0 auto;
  }
  .regimentTitle {
    font-size: 32px;
    margin-bottom: 15px;
    margin-top: 15vh;
  }
  .downloadeShoit {
    margin: 0 auto;
    font-size: 27px;
    color: #2f728c;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .pdfDownloade {
    margin-right: 15px;
  }
  .pdfDownloade:hover {
    transition: 0.1s;
    color: #10769e;
    transform: scale(1.1);
  }
  .pdfDownloade:active {
    transition: 0.1s;
    opacity: 0.5;
    transform: scale(0.95);
  }
  .excelDownloade {
    font-size: 30px;
    margin-left: 15px;
  }
  .excelDownloade:hover {
    transition: 0.1s;
    color: #10769e;
    transform: scale(1.1);
  }
  .excelDownloade:active {
    transition: 0.1s;
    opacity: 0.5;
    transform: scale(0.95);
  }
  
  .regimentLest {
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
  }
  .regimentTable {
    font-family: "SutonnyOMJunicode" sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 25px;
    margin-top: 13px;
  }
  
  .regimentTable tr td,
  .regimentTable tr th {
    border: 1px solid #a4c8d6b3;
    text-align: left;
    padding: 8px;
    text-align: center;
    white-space: nowrap;
  }
  
  .regimentTable tr:nth-child(even) {
    background-color: #c5e9f7b3;
    border-radius: 10px;
    white-space: nowrap;
  }
  .regName {
    min-width: 300px;
  }
  .listNumber {
    min-width: 30px;
  }
  .roomNumber {
    min-width: 105px;
  }
  .actionud {
    min-width: 75px;
    font-size: 22px;
    text-align: center;
  }
  .actionud .updateBtn:hover {
    transition: 0.1s;
    color: #1b86b1;
    transform: scale(1.1);
  }
  .actionud .updateBtn:active {
    transition: 0.1s;
    opacity: 0.5;
    transform: scale(0.95);
  }
  .actionud .deleteBtn {
    font-size: 24px;
    margin-left: 5px;
  }
  .actionud .deleteBtn:hover {
    transition: 0.1s;
    color: #10769e;
    transform: scale(1.1);
  }
  .actionud .deleteBtn:active {
    transition: 0.1s;
    opacity: 0.5;
    transform: scale(0.95);
  }
  
  .regCreateBrnList {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    margin-bottom: 80px;
  }
  
  .regimentBtn {
    margin: 30px 10px 7px 10px;
    text-transform: none;
    border-radius: 10px;
    background: #127fa4de;
    width: 230px;
    padding-top: 7px;
    padding-bottom: 8px;
    font-size: 18px;
    border: none;
    color: #fff;
    font-family: "SutonnyOMJunicode" sans-serif;
  }
  .regimentBtn:hover {
    transition: 0.1s;
    background: #0d85b6;
  }
  .regimentBtn:active {
    /* transition: .1s; */
    transform: scale(0.95);
    opacity: 0.5;
  }
  
  @media only screen and (max-width: 390px) {
    .regCreateBrnList {
      margin: 0 auto;
      width: 300px;
      text-align: center;
    }
    .margintop {
      margin-top: 7px;
    }
  }
  
  .regNavBar {
    display: flex;
    align-items: center;
  
    height: 9vh;
    background: #c5e9f7;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    position: fixed;
    width: 100%;
  }
  .regNavBar {
    width: 100%;
    text-align: center;
  }
  .regNavBar h1 {
    width: 100%;
    text-align: center;
    font-size: 27px;
  }
  .createRegBtn {
    margin-left: auto;
    position: fixed;
    z-index: 1;
    right: 0;
    /* border-bottom-left-radius: 20px ; */
    height: 9vh;
    text-transform: none;
    background: #127fa4de;
    width: 230px;
    padding-top: 7px;
    padding-bottom: 8px;
    font-size: 18px;
    border: none;
    color: #fff;
    font-family: "SutonnyOMJunicode" sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  .createRegBtn:hover {
    transition: 0.2s;
    background: #0d89b3de;
  }
  .createRegBtn:active {
    opacity: 0.6;
  }
  /* .createRegBtn{
       float: right;
    } */
  
  /* regimrntForm */
  .regCreateForm {
    width: 400px;
  }
  .regCreateForm span {
    font-family: "SutonnyOMJunicode" sans-serif;
    font-size: 16px;
    font-weight: bold;
    opacity: 0.9;
    margin-bottom: 2px;
    color: #000e13;
    margin-left: 5px;
  }
  .regCreateForm .regimentNameDev,
  .regCreateForm .regmentPlaceDev {
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
  }
  .regCreateForm div input {
    font-size: 18px;
    padding: 6px 0px 6px 3px;
    border: 1px solid #127fa4de;
    border-radius: 8px;
    outline: none;
    padding-left: 10px;
  }
  .submitReg {
    margin-top: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #127fa4de;
    width: 110px;
    font-size: 18px;
    border: none;
    color: #fff;
    height: 37px;
  }
  .submitReg:hover {
    transition: 0.1s;
    background: #0d85b6;
  }
  .submitReg:active {
    /* transition: .1s; */
    transform: scale(0.95);
    opacity: 0.5;
  }
  .closeIcon {
    font-weight: bold;
    background: #646668;
    border-radius: 50%;
    color: #fff;
    float: right;
    margin-top: 4px;
  }
  
  @media only screen and (max-width: 500px) {
    .regCreateForm {
      width: 100%;
      /* margin-right: 10px; */
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
      width: 100vw !important;
    }
    .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
      margin: 10px !important;
      /* width: 87vw; */
    }
  }
  /*
  @media only screen and (max-width: 365px) {
    .regCreateForm {
      width: 90vw;
      margin: 0px;
    }
    .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
      margin: 5px!important;
    }
  } */
  /* @media only screen and (max-width: 330px) {
    .regCreateForm {
      width: 250px;
      margin: 0px;
    }
    .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
      margin: 5px!important;
    }
  } */
  .delegetDetalseInfo{
    min-height: 100vh;
  }
  .detalseInfoo {
    color: #0076a5;
    border: none;
    text-decoration: underline;
    font-size: 13px;
    margin: 6px 0px 7px 0px;
  }
  .detalseInfoo:hover {
    color: #0287bb;
    transform: scale(1.03);
  }
  .detalseInfoo:active {
    transform: scale(0.95);
    color: #005d81;
  }
  

  /* .campTalika {
  margin-top: -40px;
} */

.detalseInfo{
    text-decoration: none;
    color: #0c77a1;
    font-weight: bold;
    cursor: pointer;
}

.detalseInfo:active{
    color: #45caff;
}
.campName{
  white-space: nowrap;
}



.animation-hr{
  width: 350px;
  margin: 0px auto;
}
.hr1{
  animation: hr1 2s ease infinite;
}
@keyframes hr1 {
   0% {
     width: 15%;
   }
   50% {
     width: 100%;
   }
   100% {
     width: 15%;
   }

}

.hr2{
  animation: hr2 2s ease infinite;
}
@keyframes hr2 {
   0% {
     width: 100%;
   }
   50% {
     width: 15%;
   }
   100% {
     width: 100%;
   }

}
.hr3{
  margin-left: auto;
  animation: hr3 2s ease infinite;
}
@keyframes hr3 {
  0% {
     width: 100%;
   }
   50% {
     width: 15%;
   }
   100% {
     width: 100%;
   }

}
.hr4{
  margin-left:  auto;
  animation: hr4 2s ease infinite;
}
@keyframes hr4 {
   0% {
     width: 15%;
   }
   50% {
     width: 100%;
   }
   100% {
     width: 15%;
   }

}
.animation-hr hr{
  height: 3px;
  border-radius: 5px;
  background-image: linear-gradient(to right top,#031624, #2f728c, #70a8c4, #29b2b2, #c5e9f7);
  opacity: 100;
  margin-bottom: 3px;
  margin-top: 6px;
  border: none;
}


@keyframes weather {
  0%{
      transform: scale(1.0);
  }
  50%{
      transform: scale(1.2);
  }
  100%{
      transform: scale(1.0);
  }
}












.delegetDetalseInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    flex-direction: column;
    font-family: normal;
    background-color: #c5e9f763;
    animation: 0.5s ease-in 0s 1 opacity-animation;
  }
  @keyframes opacity-animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .kuriImage {
    width: 190px; /* Adjust as needed */
    height: 190px; /* Adjust as needed */
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #79bcd6;
  }
  .kuriImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }
  .deligetAllData {
    display: flex;
    justify-content: center;
    margin: 0px 10px;
  }
  
  .detalseDev div {
    margin: 20px 10px;
  }
  .detalseDev span {
    font-family: "SutonnyOMJunicode";
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .detalseDev p {
    font-size: 23px;
  }
  .divleftdet {
    text-align: right;
    margin-left: 100px;
  }
  .updateImaged{
      margin-top: -4px;
      margin-bottom: 17px;
  }
  .updateImaged input{
      font-size: 18px;
      /* padding: 7px 4px 7px 6px; */
      outline: none;
      border: 1px solid #0084b9e6;
      border-radius: 7px
  }
  
  @media only screen and (max-width: 550px) {
    .divleftdet {
      text-align: left;
      margin-left: 0;
      margin-top: -15px;
    }
    .deligetAllData {
      flex-direction: column;
      justify-content: center;
      margin-left: 120px;
      margin-top: 20px;
    }
  }
  
  @media only screen and (max-width: 479px) {
    .deligetAllData {
      margin-left: 90px;
    }
  }
  @media only screen and (max-width: 479px) {
    .deligetAllData {
      margin-left: 30px;
    }
    .updateImaged input{
      width: 295px;
    }
  }
  

  .delegateDataComment span{
    font-family: "SutonnyOMJunicode";
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .delegateDataComment textarea{
    width: 570px;
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    font-size: 17px;
  }

  .delegateDataComment textarea::-webkit-scrollbar {
    width: 9px;
  }
  
  .delegateDataComment textarea::-webkit-scrollbar-thumb {
    background-color: #9dd7ee;
    border-radius: 15px;
  }
  
  .delegateDataComment textarea::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  @media only screen and (max-width: 550px){
    .delegateDataComment textarea{
      width: 80vw;
    }
  }
